<head>
  <meta charset="utf-8">
  <title>Stackfindover: Sign in</title>
  <%= stylesheet_link_tag "t.css" %>
</head>
<body>
<p id="notice"><%= notice %></p>
<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    <div class="loginbackground box-background--white padding-top--64">
      <div class="loginbackground-gridContainer">
        <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
          <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
          </div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
          <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
          <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
          <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
          <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
          <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
          <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
          <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
        </div>
        <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
          <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
        </div>
      </div>
    </div>
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
              <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

          </div>

          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "Company", "/companies",:class =>"link" %> &ensp;&ensp;
              </li>
              <li>
                <%= link_to "Employee", "/employees",:class =>"link" %> &ensp;&ensp;
              </li>
              <li>
                <% if session[:admin] %>
                  <%= link_to "Logout", "/admin/logout",:class =>"link" %> &ensp;&ensp;
                <%else %>
                  <%= link_to "Login", "/",:class =>"link" %> &ensp;
                <%end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Employees</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <form id="stripe-login">
              <table id="customers">
                <tr>
                  <th>Name</th>
                  <th>Age</th>
                  <th>Salary</th>
                  <th>Company</th>
                  <th colspan="3"></th>
                </tr>
                <tbody>
                <% @employees.each do |employee| %>
                  <tr>
                    <td><%= employee.name %></td>
                    <td><%= employee.age %></td>
                    <td><%= employee.salary %></td>
                    <td><%= employee.company.name %></td>
                    <td><%= link_to 'Show', employee %></td>
                    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
                    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
                </tbody>
              </table>


            </form>
            <br>
            <div class="field padding-bottom--24">
              <%= link_to 'New Employee', new_employee_path ,id:'a1'%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>



